@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&family=Bayon&family=Lexend+Deca:wght@800&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: white;
    font-family: Assistant, "Trebuchet MS", sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #264422;
}

.logo {
    width: 80px;
}

#logo-link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #4f762d;
    color: white;
}

#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.home-title {
    color:white;
    font-family: "Lexend Deca", 'Trebuchet MS', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: white;
}

.button-box {
    text-align: center;

}

.book, .join {
    background-color: #8ba352;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.book:hover, .join:hover {
    background-color: #264422;
    color: white;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #264422;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 20px 0;
}

.card-img {
    border: 10px solid #264422;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

.msg{
    background-color: #4f762d;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color: white;
    font-family: "Lexend Deca", 'Trebuchet MS', sans-serif;

}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    background-color: #264422;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover {
    color:#8ba352;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}